# Dependencies
node_modules/

# Vercel
.vercel/
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db

# Editor Directories
.idea/
.vscode/
*.swp
*.swo
.deepvcode/

# Build Output
dist/
build/
